# Project Files
persona-framework/persona-admin-ui/node_modules/
persona-framework/persona-admin-ui/node_modules/*
/kotlin-persona
/generators
/spring-persona/
/temp/
/temp-ui/


# Gradle
.gradle/
build/
out/

# IDEs
.idea/
*.iml
.vscode/

# OS
**/.DS_Store

# Logs
logs/
*.log
/persona-admin-ui/node_modules/*
/temp-ui
/temp
/spring-persona
/build/
